@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1A1A1A;
    --foreground: #F1F5F9;
    --card: #FFFFFF;
    --card-foreground: #1A1A1A;
    --popover: #FFFFFF;
    --popover-foreground: #1A1A1A;
    --primary: #1A1A1A;
    --primary-foreground: #F8F8F8;
    --secondary: #F0F0F0;
    --secondary-foreground: #1A1A1A;
    --muted: #F0F0F0;
    --muted-foreground: #707070;
    --accent: #F0F0F0;
    --accent-foreground: #1A1A1A;
    --destructive: #E11D48;
    --destructive-foreground: #FFFFFF;
    --border: #EAEAEA;
    --input: #EAEAEA;
    --ring: #1A1A1A;
    --radius: 1rem;
    --sidebar: #FFFFFF;
    --sidebar-foreground: #1A1A1A;
    --sidebar-primary: #1A1A1A;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #F5F5F5;
    --sidebar-accent-foreground: #1A1A1A;
    --sidebar-border: #EAEAEA;
    --sidebar-ring: #1A1A1A;
  }

  .dark {
    --background: #1A1A1A;
    --foreground: #F1F5F9;
    --card: #1E1E1E;
    --card-foreground: #FAFAFA;
    --popover: #1E1E1E;
    --popover-foreground: #FAFAFA;
    --primary: #FAFAFA;
    --primary-foreground: #121212;
    --secondary: #2A2A2A;
    --secondary-foreground: #FAFAFA;
    --muted: #2A2A2A;
    --muted-foreground: #909090;
    --accent: #2A2A2A;
    --accent-foreground: #FAFAFA;
    --destructive: #F43F5E;
    --destructive-foreground: #FFFFFF;
    --border: #2A2A2A;
    --input: #2A2A2A;
    --ring: #FAFAFA;
    --sidebar: #1A1A1A;
    --sidebar-foreground: #FAFAFA;
    --sidebar-primary: #FAFAFA;
    --sidebar-primary-foreground: #121212;
    --sidebar-accent: #2A2A2A;
    --sidebar-accent-foreground: #FAFAFA;
    --sidebar-border: #2A2A2A;
    --sidebar-ring: #FAFAFA;
  }
}


@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: #1A1A1A;
    color: theme('colors.slate.100');
  }
}

@layer utilities {
  .faceted-panel {
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
  }
  .v-facet-right {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  }
  .v-facet-left {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
}